<footer class="footer-wrap">
	<div class="footer-social">
		{{>social_icons_default}}
		{{>social_icons}}
	</div>
	<div class="footer-copyright">
		{{t "Copyright"}} &copy; {{date format="YYYY"}}, <a href="{{@site.url}}">{{@site.title}}</a>. {{t "All Right Reserved"}}.
		<br>
		{{{t "Published with {ghostlink}" ghostlink="<a href=\"https://ghost.org\">Ghost</a>"}}}
	</div>
</footer>