<!DOCTYPE html>
<html lang="{{@site.locale}}">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>{{meta_title page=(t "meta-page")}}</title>
		<meta name="HandheldFriendly" content="True">
		<meta name="MobileOptimized" content="320">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{{>services/google_fonts}}
		{{services/analytics}}
		<link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}">
		{{ghost_head}}
	</head>
	<body class="{{body_class}}">
		<div class="site-wrap">
			{{>header}}
			{{{body}}}
			{{>members/subscribe_form}}
			{{>footer}}
		</div>
		<script>
        /* foreach.js
		   –––––––––––––––––––––––––––––––––––––––––––––––––––– 
		   Version : 1.1.0
		   Repo    : github.com/toddmotto/foreach
		   Author  : Todd Motto
		   License : MIT
		   –––––––––––––––––––––––––––––––––––––––––––––––––––– */
		   var forEach=function(a,b,c){if("[object Object]"===Object.prototype.toString.call(a))for(var d in a)Object.prototype.hasOwnProperty.call(a,d)&&b.call(c,a[d],d,a);else for(var e=0,f=a.length;f>e;e++)b.call(c,a[e],e,a)};

		   /* Custom settings for foreach.js */
		   var circleMenu = document.querySelectorAll(".hamburger");
		   if (circleMenu) {
    		   forEach(circleMenu, function(e) {
      		     e.addEventListener("click", function() {
      		         this.classList.toggle("is-active");
      		     }, false);
  			   });
		   }
		</script>
		{{#if pagination.pages}}
		<script src="{{asset "js/index.js"}}"></script>
		{{/if}}
		{{#is "post, page"}}
		<script src="{{asset "js/post.js"}}"></script>
		{{/is}}
		{{ghost_foot}}
	</body>
</html>