{{!< default}}
{{#tag}}
<div class="top-wrap">
	<section class="title-wrap">
		<div class="top-social">
			{{>social_icons_default}}
			{{>social_icons}}
		</div>
		<div class="no-featured bg-top{{#if feature_image}} is-cover" style="background-image: url({{feature_image}}){{/if}}">
			<div class="author-wrap">
				<h1 class="title">{{name}}</h1>
				{{#if description}}
				<h2 class="description">{{description}}</h2>
				{{/if}}
			</div>
		</div>
		<div class="vertical text-posts">
			<div class="text rotate">
				{{plural ../pagination.total empty=(t "No posts") singular=(t "1 post") plural=(t "% posts")}}
			</div>
		</div>
	</section>
</div>
{{/tag}}
{{>loop}}
{{pagination}}