{{^if @member}}
<div class="subscribe-wrap">
	<div class="vertical text-newsletter">
		<div class="text rotate">
			{{t "Newsletter"}}
		</div>
	</div>
	<div class="subscribe">
		<form data-members-form="subscribe" class="subscribe-form">
			<div class="text-subscribe">{{{t "Subscribe to our newsletter"}}}</div>
			<div class="form-group">
				<input data-members-email class="subscribe-email" type="email" placeholder="Your email address" aria-label="{{t "Your email address"}}" required>
			</div>
			<button class="" type="submit"><span>{{t "Subscribe"}}</span></button>
		</form>
		<p class="subscribe-alert-loading">{{t "Processing your application"}}</p>
		<p class="subscribe-alert-error">{{t "There was an error sending the email, please try again"}}</p>
		<div class="subscribe-success">
			<h3>{{t "Great!"}}</h3>
			<p>{{t "Check your inbox and click the link to confirm your subscription"}}</p>
		</div>
	</div>
</div>
{{/if}}